name: CI Workflow

on: [push, workflow_dispatch]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Configure Cmake
        run: |
          git clone https://github.com/catchorg/Catch2.git
          mkdir build
          cd build
          cmake ..
          cmake --build .
          sudo cmake --install .
          ./Tests
          

  run_benchmark:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get file structure
        run: | 
          cp utility/Architecture-template.md Architecture.md
          cp utility/build_repo_structure.sh ./
          ./build_repo_structure.sh Architecture.md
          mv Architecture.md docs/

      - name: install libs
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build .
          sudo cmake --install .

      - name: run bench and make report
        run: |
          ./Bench --benchmark_format=json > bench_result.json
          cd ..
          python3 docs/convert.py build/bench_result.json docs/bench_report.txt

      - name: Push updated version of Architecture
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git remote set-url origin https://x-access-token:${TOKEN}@github.com/${{ github.repository }}
                                        
          git add docs/bench_report.txt docs/Architecture.md
          git commit --allow-empty -m "Updated bench_report.txt + Update Architecture.md" 
          git push origin HEAD:${{ github.ref_name }} 